body {
    margin: 0; 
    font-family: 'Courier New', Courier, monospace; 
    background-color: #495aba; 
}

.sidebar {
    height: 100%; /* Full height */
    width: 0; /* Hidden by default */
    position: fixed; /* Stay in place */
    top: 0;
    left: 0;
    background-color: #333; /* Dark background */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* Animation for opening/closing */
    padding-top: 60px; /* Space at the top */
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #575757;
}

.sidebar .closebtn {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 30px;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
}

/* Open button for sidebar */
.openbtn {
    font-size: 30px;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 10px;
}

/* Main content area */
#main {
    transition: margin-left 0.5s;
    padding: 16px;
}

/*@media (min-width: 992px) {
    main {
        padding: 20px; 
        font-size: 18px; 
    }
}
*/
/*  large devices  */
/*@media (min-width: 1200px) {
    main {
        max-width: 1140px; 
        margin: auto; 
    }
} */