/*i love fonts, so im going to import some google fonts! */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Oxygen:wght@300;400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
/* then ill have my font classes here*/

/* h: spectral  */
.spectral-extralight { font-family: "Spectral", serif; font-weight: 200; font-style: normal; }
.spectral-light { font-family: "Spectral", serif; font-weight: 300; font-style: normal; }
.spectral-regular { font-family: "Spectral", serif; font-weight: 400; font-style: normal; }
.spectral-medium { font-family: "Spectral", serif; font-weight: 500; font-style: normal; }
.spectral-semibold { font-family: "Spectral", serif; font-weight: 600; font-style: normal; }
.spectral-bold { font-family: "Spectral", serif; font-weight: 700; font-style: normal; }
.spectral-extrabold { font-family: "Spectral", serif; font-weight: 800; font-style: normal; }


/* p: karla */
.karla-extralight { font-family: "Karla", sans-serif; font-weight: 200; font-style: normal; }
.karla-light { font-family: "Karla", sans-serif; font-weight: 300; font-style: normal; }
.karla-regular { font-family: "Karla", sans-serif; font-weight: 400; font-style: normal; }
.karla-medium { font-family: "Karla", sans-serif; font-weight: 500; font-style: normal; }
.karla-semibold { font-family: "Karla", sans-serif; font-weight: 600; font-style: normal; }
.karla-bold { font-family: "Karla", sans-serif; font-weight: 700; font-style: normal; }
.karla-extrabold { font-family: "Karla", sans-serif; font-weight: 800; font-style: normal; }

/* p: inconsolata */
.inconsolata-regular {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*aaaand back to our regular styling for css elements *non font stuff** */

body {
    margin: 0; 
    font-family: "Inconsolata", monospace;
    /* background-color: #174d38; *//* changed the background colour for better contrast */
    background-color: #185220;
    color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Spectral", serif; 
    font-weight: 600; 
}

/* nav bar styling */
/* styling for my name on sidebar */
.nav-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 0px;
    /*background-color: #1B1B1E;*/
    background-color: #012966;
    text-align: left;
    padding-top: 50px;
}

.nav-title {
    transform: scale(1.05); 
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 50px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.nav-header .nav-title:hover {
    text-shadow: 0 0 0.4px rgb(206, 188, 255), 0 0 0.7px rgb(255, 255, 255); 
    transform: scale(1.05); 
    background-color: transparent; /* so the container doesnt show like the rest of the nav bar */
}

nav, .sidebar {
    font-family: "Karla", sans-serif;
}

.sidebar {
    font-family: "Karla", sans-serif;
    font-weight: 300;
    height: 100%; 
    width: 175px; /* changed this so its a little smaller */
    position: fixed; 
    top: 0;
    left: 0;
   /*  background-color: #1B1B1E; */
    background-color: #012966; 
    overflow-x: hidden;
    padding-top: 155px;
    box-shadow: 4px 0 15px rgba(0, 0, 0, 0.1);
}

.sidebar a {
    font-family: inherit;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}

.sidebar a:hover {
   /* background-color: #575757;*/
   background-color: #1A3E75;
}

/* main content area */
#main {
    /*transition: margin-left 0.5s;*/
    margin-left: 180px;
    padding: 20px;
    max-width: calc(100% - 175px); /* in order to stop content from going under sidebar */
    box-sizing: border-box;
    padding-top: 30px;
}

/*@media (min-width: 992px) {
    main {
        padding: 20px; 
        font-size: 18px; 
    }
}
*/
/*  large devices  */
/*@media (min-width: 1200px) {
    main {
        max-width: 1140px; 
        margin: auto; 
    }
} */
